<% include ../partials/header %>

  <div id="new_article">
    <a href="/articles/new">Click here to add a new article!</a>
  </div>
  <% include ../partials/articles %>  

<% include ../partials/footer %>