<!DOCTYPE html>
<html>
  <head>
    <title>The Daily Planet | Read Article</title>
    <link rel="stylesheet" href="/main.css">
    <link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/images/planet.png" />
  </head>
  <body>
    <header>
      <table>
        <td><img src="/images/planet.png" /></td>
        <td>
          <h1>The Daily Planet</h1>
          <h3>News that's out of this world!</h3>
        </td>
      </table>
    </header>
    <div id="navigation">
      <table>
        <td><a href="/">HOME</a></td>
        <td><a href="/articles">ARTICLES</a></td>
        <td><a href="/about">ABOUT</a></td>
        <td><a href="/contact">CONTACT</a></td>
      </table>
    </div>
    <form method="post" action="/articles">
      <h2><label for="article_title">Article Title</label></h2>
      <p><input type="text" name="article[title]" id="article_title" placeholder="article title"></p>
      <h2><label for="article_summary">Article Summary</label></h2> 
      <p><textarea name="article[summary]" id="article_summary"placeholder="article summary"></textarea></p>
      <h2><label for="article_content">Article Content</label></h2> 
      <p><textarea name="article[content]" id="article_content"placeholder="type your article's content here!"></textarea></p>
      <input type="submit" id="submit_button" value="Save Article">
  </body>
</html>




