<% include ../partials/header %>

  <div id="content">
    <article>
      <h2> <%= article.title %> </h2>
      <p> <%= article.content %> </p>
    </article>
  </div>

<% include ../partials/footer %>